body{
    background-image: url(assets/background.avif);
}

.quote{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #463f3a;
}

.card{
    background-color: #5e503f;
    color: #eae0d5;
}